{% extends "_base.twig" %}

{% block main %}
<main class="main  container">
    <article class="article  article--page  content  typeset">
        <p>Este tema foi desenvolvido com base no tema <a href="https://jekyllthemes.io/theme/alembic">Alembic para Jekyll</a>.</p>
    </article>
</main>
{% endblock main %}