{% extends "_base.twig" %}

{% block main %}
<main class="main  container">
    <article class="article  article--page  content  typeset">
        {% block content %}
            {{ content }}
        {% endblock content %}
    </article>
</main>
{% endblock main %}